<%- include('../includes/head.ejs') %>
</head>

<body>
	<form action="/seller/add" method="post">
	<input type="text" name="Name" >
	<input type="number" name="Price">
	<input type="file" name="file">
	<input type="text" name="desc">
	<button type="submit">Submit</button>
</form>

<%- include('../includes/end.ejs') %>