<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styleSheets/auth.css">
    <link rel="stylesheet" href="/styleSheets/seller_main.css">
	</head>
    <%- include('../includes/navbar.ejs') %>
    
    <body>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card card-body">
                            <form id="new-product">
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" maxlength="50" autocomplete="off"
                                        placeholder="Enter Product Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="price" class="form-control"
                                        maxlength="20" autocomplete="off" placeholder="Enter Product Price" required>
                                </div>
                                <div class="form-group">
                                    <textarea type="text" id="description" class="form-control"
                                        maxlength="500" autocomplete="off" placeholder="Details" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Add New</button>
                            </form>
                        </div>
    
                    </div>
                </div>
    
                <div class="col-md-8">
                    <center><h3 style="color:rgb(39, 104, 2);">List of Products</h3></center>
                    <div class="row">
                        <div class="col-sm-3 text-left title-head">
                            <p class="font-weight-bold">Product Name</p>
                        </div>
                        <div class="col-sm-3 text-left title-head">
                            <p class="font-weight-bold">Price</p>
                        </div>
                        <div class="col-sm-3 text-left desc-head">
                            <p class="font-weight-bold">Details</p>
                        </div>
                        <div class="col-sm-3 text-right del-head">
                            <p class="font-weight-bold">Delete</p>
                        </div>
                    </div>
                    <hr>
                    <div id="tasks"></div>
    
                </div>
    
            </div>
    
        </div>
        <script src="/javaScripts/index.js"></script>

        <%- include('../includes/end.ejs') %>