<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styleSheets/auth.css">
    <link rel="stylesheet" href="/styleSheets/seller_main.css">
	</head>
    <%- include('../includes/seller_navbar.ejs') %>
    
    <body>
        <div class="container">
                <div class="col-md-12">
                    <center><h3 style="color:rgb(39, 104, 2);">List of Products</h3></center>
                    <div class="row">
                        <div class="col-sm-3 text-left title-head">
                            <p class="font-weight-bold">Product Name</p>
                        </div>
                        <div class="col-sm-3 text-left title-head">
                            <p class="font-weight-bold">Price</p>
                        </div>
                        <div class="col-sm-3 text-left desc-head">
                            <p class="font-weight-bold">Details</p>
                        </div>
                        <div class="col-sm-3 text-right del-head">
                            <p class="font-weight-bold">Delete</p>
                        </div>
                    </div>
                    <hr>
                    <div id="tasks"></div>
                    <button class="btn btn-primary">
                        <a class="a" href="/seller/add">ADD NEW PRODUCT</a>
                    </button>
                </div>
    
            </div>
    
        </div>
        <script src="/javaScripts/index.js"></script>

        <%- include('../includes/end.ejs') %>